<h4 mat-dialog-title style="display: flex; justify-content: center; align-items: center; ">Edit Task</h4>
<mat-form-field>
  <mat-label>Task Name</mat-label>
  <input matInput [(ngModel)]="data.itemData.name" required>
</mat-form-field>
<mat-form-field>
  <mat-label>Task Category</mat-label>
  <mat-select [(ngModel)]="data.itemData.taskGroupId">
    @for (tg of taskgroups; track tg) {
    <mat-option [value]="tg.type">{{tg.type |typeEnumValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Priority Type</mat-label>
  <mat-select [(ngModel)]="data.itemData.priority">
    @for (priority of priorityOptions; track priority) {
    <mat-option [value]="priority">{{priority}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Schedule Date</mat-label>
  <input matInput [(ngModel)]="data.itemData.planned" [matDatepicker]="picker">
  <!--<mat-hint>MM/DD/YYYY</mat-hint>-->
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div style="display: flex; justify-content: center; align-items: center; gap: 10px; ">
  <button matButton (click)="onSave()">
    <mat-icon iconPositionEnd>save</mat-icon>Save
  </button>
  <button matButton mat-dialog-close (click)="onCancel()">
    <mat-icon iconPositionEnd>cancel</mat-icon>Cancel
  </button>
</div>

